.testimonial_area {
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    .testimonial_area {
      padding: 50px 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .testimonial_area {
      padding: 100px 0;
    }
  }
  
  @media (max-width: 767px) {
    .testimonial_area .single_testmonial {
      display: block !important;
    }
  }
  
  .testimonial_area .single_testmonial .thumb {
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .testimonial_area .single_testmonial .thumb img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .testimonial_area .single_testmonial .thumb .quote_icon {
    position: absolute;
    width: 58px;
    height: 58px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #00D363;
    color: #fff;
    text-align: center;
    line-height: 58px;
    right: 0;
    bottom: 0;
  }
  .testimonial_area .single_testmonial .info {
    padding-left: 66px;
    padding-right: 15px;
  }
  
  @media (max-width: 767px) {
    .testimonial_area .single_testmonial .info {
      padding: 0;
      margin-top: 10px;
    }
  }
  
  .testimonial_area .single_testmonial .info p {
    font-size: 18px;
    color: #040E27;
    line-height: 32px;
    margin-bottom: 18px;
  }
  
  .testimonial_area .single_testmonial .info span {
    color: #7A838B;
    font-size: 16px;
    font-weight: 400;
    display: block;
  }
  
  .testimonial_area .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
  }
  .testimonial_area .owl-carousel .owl-nav div {
    font-size: 15px;
    line-height: 50px;
    border: 0;
    left: auto;
    background: #E6F3FF;
    color: #0A8CFF;
    right: 0;
    left: auto;
    line-height: 51px;
  }
  
  .testimonial_area .owl-carousel .owl-nav div:hover {
    border: none;
    background: #7FC1FC;
    color: #fff;
  }
  
  .testimonial_area .owl-carousel .owl-nav div.owl-next {
    margin-top: -30px;
  }
  
  .testimonial_area .owl-carousel .owl-nav div.owl-prev {
    margin-top: 30px;
  }
  